/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */


:root {
    --main-font: 'Inter', sans-serif;
    --accent-font: 'PressStart2P', monospace;
    --main-font-weight: 400;
    --accent-font-weight: 700;
    --bg-color: rgba(255, 255, 255, 1);
    --accent-color: rgba(0, 0, 0, 1);
    --button-hover: rgba(0, 0, 0, 0.6);
    --background-pattern: url(../svg/pattern-light.svg);
    --heart-contour: #000000;
    --heart-main-color: red;
    --text-stroke: #FFFFFF;
    --gradient: repeating-linear-gradient(#d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(90deg, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(#e7e7e7, #1a1a1a);
    --animated-color: #ffff;
}